
@media (max-width: 1024px) {
    .productGrid {
        width: 75%;
        margin: 0 auto;
    }
    .ourProductArea button.owl-prev {
        left: 0%;
    }
    .ourProductArea button.owl-next {
        right: 0%;
    }
}


/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {
    .productGrid {
        width: 75%;
        margin: 0 auto;
    }
    .ourProductArea button.owl-prev {
        left: 0%;
    }
    .ourProductArea button.owl-next {
        right: 0%;
    }
    .ourProductArea {
        height: auto;
        padding-bottom: 30px;
    }
}


/* Small Devices Potrait */
@media (max-width : 767px){
    .productGrid {
        width: 75%;
        margin: 0 auto;
    }
    .ourProductArea button.owl-prev {
        left: 0%;
    }
    .ourProductArea button.owl-next {
        right: 0%;
    }

    .ourProductArea {
        height: auto;
        padding-bottom: 30px;
    }
}
